@media (min-width: 300px) {
  .card-columns {
      column-count: 1;
  }
}

@media (min-width: 550px) {
  .card-columns {
      column-count: 2;
  }
}

@media (min-width: 800px) {
  .card-columns {
      column-count: 3;
  }
}
